@import "imports/__normalize";
@import "imports/_grid";
@import "imports/_mixins";
@import "imports/_dropzone";
@import "imports/icons/font-awesome";

// [class^="icon"] {
//   position: relative;
//   top: 0.1em;
// }

$accent: #B44646;
$dark: #1E1E1E;
$green: #b4bc71;
$red: #d16568;
$blue: #7fa3bc;

html {
  min-height: 100%;
}

body {
  font: normal normal 400 14px/1.5em "Helevetica Neue",Helevetica,Arial,sans-serf;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  &.dragging, &.dragging * {
    cursor: move !important;
  }
}

.clearfix {
  @include clearfix();
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

a {
  color: $accent;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover, &:active {
    color: $dark;
  }
}

h1,h2,h3,h4,h5,h6,strong {
  font-weight: 700
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0
}

h3 {
  font-size: 1.17em;
  margin: 1em 0
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

h5 {
  font-size: .83em;
  margin: 1.67em 0
}

h6 {
  font-size: .75em;
  margin: 2.33em 0
}

.container {
  width: 100%;
  max-width: 1140px;
}

.center {
  text-align: center;
  padding: 0 2em;
  img {
    max-width: 100%;
    height: auto;
  }
}

.content, .side-menu {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: absolute;
  height: 100%;
}

.side-menu {
  width: 200px;
  z-index: 3;
  border-right: 1px solid rgba(0,0,0,0.4);
  .center {
    margin: 8% 0;
  }
  a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,0.4);
    i {
      font-size: 1.2em;
      width: 2em;
      text-align: center;
      position: relative;
      top: -0.1em;
    }
    &:last-child {
      border-bottom: 1px solid rgba(0,0,0,0.4);
    }
    &:hover, &.active:hover {
      color: white;
      background-color: $accent;
    }
    &.active {
      color: white;
      background-color: lighten($dark, 15%);
    }
    &:active {
      background-color: $dark;
    }
  }
  a.side-logo {
    border: none;
    @include fadeIn(0.9);
    &:hover {
      background: none;
    }
  }
}

.content {
  padding: 0 1em 1em calc(200px + 1em);
  z-index: 2;
}

.dragged {
  position: absolute;
  z-index: 2000;
}

.nested-sortable {
  width: 300px;
  margin: 0.5em 0;
  padding: 0;
  ul {
    margin: 0.5em 0;
    padding: 0 0 0 2em;
  }
  li {
    margin: 0 0 0.5em;
    list-style: none;
    a {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid #ccc;
      &:hover {
        color: $dark;
        border: 1px solid #888;
      }
    }
    &.active > a {
      color: $dark;
      border: 1px solid #888;
    }
    &:hover {
      cursor: move;
    }
    &.placeholder {
      position: relative;
      opacity: 0.1;
      display: block;
      &:before {
        position: absolute;
      }
    }
  }
  .btn {
    margin-top: 0.5em;
  }
}

.nested-sortable, .page-info {
  float: left;
}

.page-info {
  float: left;
  margin-left: 2em;
  -webkit-backface-visibility: hidden;
  position: relative;
  ul {
    margin: 0;
    padding: 0 0 0 2em;
  }
}

a, input[type="button"], button{
  &.btn {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0.5em 1.6em;
    border-radius: 4px;
    color: white;
    line-height: 1;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease;
  }
  &.green {
    background: $green;
    border: 1px solid darken($green, 8%);
    &:hover {
      background-color: lighten($green, 5%);
      border: 1px solid darken($green, 12%);
    }
    &:active {
      background-color: $green;
      border: 1px solid darken($green, 18%);
    }
  }
  &.blue {
    background: $blue;
    border: 1px solid darken($blue, 8%);
    &:hover {
      background-color: lighten($blue, 5%);
      border: 1px solid darken($blue, 12%);
    }
    &:active {
      background-color: $blue;
      border: 1px solid darken($blue, 18%);
    }
  }
  &.red {
    background: $red;
    border: 1px solid darken($red, 8%);
    @include fadeIn(0.5);
    &:hover {
      background-color: $red;
      border: 1px solid darken($red, 12%);
    }
    &.active {
      opacity: 1;
    }
    &:active {
      background-color: darken($red, 10%);
      border: 1px solid darken($red, 18%);
    }
  }
}

.page-controls {
  margin-top: 2em;
  .btn {
    font-size: 0.8em;
  }
}

.btn.top-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 0.8em;
}

.settings-form {
  margin: 1em 0 2em;
  width: 600px;
  input {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0.4em;
    outline: none;
    opacity: 1;
    margin-bottom: 4px;
    -webkit-backface-visibility: hidden;
    background: rgba(0,0,0,0);
    transition: all 0.2s ease;
    &[type="checkbox"] {
      width: auto;
      position: relative;
      top: 0.5em;
    }
    &.prop-key {
      opacity: 0.8;
      width: 26%;
    }
    &:focus {
      border: 1px solid rgba(0,0,0,0.3);
    }
  }
  .settings-form {
    overflow: hidden;
  }
  input[type="checkbox"]:checked ~ input {
    opacity: 0.5;
    background: #ddd;
  }
}

.content .dropzone {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 100%;
  padding: 3em 0;
  color: rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 3em;
  text-align: center;
  .drop-icon {
    font-size: 3em;
    position: relative;
    z-index: -1;
  }
}

.dz-started .drop-icon {
  display: none;
}

.upload-thumb {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  text-align: center;
  padding: 1em 1em 0 1em;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 1em 5% 0 -4px;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  .top-close {
    top: -1em;
    right: -1em;
    font-size: 0.6em;
  }
}

.swappable-input {
  width: 100%;
  outline: none;
}

.editor {
  width: 500px;
  height: 90%;
  border: 1px solid #bbb;
  padding: 0.5em;
  font-family: monospace;
  font-size: 13px;
  outline: none;
}

.editor-buttons {
  width: 95%;
  margin: 0 0 1em 0;
  text-align: right;
  a:first-child {
    float: left;
  }
}

.viewer {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 0.5em;
  border: 1px solid #bbb;
  line-height: 1.4;
  table {
    table-layout: fixed;
    width: 100%;
    tr:nth-child(even), th {
      background: rgba(0,0,0,0.1);
    }
    th {
      text-align: left;
    }
  }
  p code, li code {
    background: #e0e0e0;
    border-radius: 3px;
    padding: 0.2em;
  }
}

.messages {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  margin-left: -125px;
  width: 250px;
  color: white;
  padding: 0.4em 1em;
  text-align: center;
  background: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-150%);
}
